body{

     background-image: url(/Images/login-page-background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     padding-top: 70px;
}
h1,h2{
     margin:0px;
}
*
{
     text-decoration: none;
}
