
@keyframes head-section-show
{
     0%
     {
          /* background-color: rgb(255, 94, 0); */
          opacity:1;
     }    
     25%
     {
          opacity:0.9;
          /* background-color: rgb(255, 145, 0); */
     }
     50%
     {
          opacity:0.8;
          /* background-color:rgb(255, 255, 0); */
     }
     75%
     {
          opacity:0.9;
          /* background-color: rgb(211, 7, 92); */
     }
     100%
     {
          opacity:1;
          /* background-color: rgb(209, 5, 192); */
     }
} 

@keyframes blink-form {
     0%
     {
          box-shadow: 0px 0px 6px rgb(0, 0, 0);
     }
     25%
     {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.623);
     }
     50%
     {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.438);
     }
     75%
     {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.151);
     }
     100%
     {
          box-shadow: 0px 0px 6px rgb(0, 0, 0);
     }
}
.head-container
{
     display: flex;
     flex-direction: row;
     position:fixed;
     top:0;
     align-items: center;
     right:0;
     left:0px;
     height:130px;
     background-color:black;
     box-shadow:0px 0px 6px gray;
}
.one-section
{
     display:flex;
     width:75%;
     flex-direction: row;
     margin-left: 10px;
     align-items: center;
}
.logo-title
{
     width:100px;
     height:100px;
     object-fit: contain;
     border-radius: 50px;
     object-position:center;
}
.title-website
{
     font-family: 'Fira Sans', sans-serif;
     font-size: 50px;
     font-weight:600;
     color:white;
}
.title-container
{
     margin-left: 35px;
     align-items: center;
}
.address-section
{
     vertical-align: middle;
     align-items: center;
     color:white;
     margin-left:40%;
     font-family: 'Fira Sans', sans-serif;
     margin-top: 2%;
     font-size:25px;
}
.login-user-detail
{
     position:absolute;
     top:45%;
     left:40%;
     height:170px;
     padding:10px 20px;
     line-height: 30px;
     align-items: center;
     animation:blink-form 2s 0s infinite linear;
     border-radius: 20px;
}
.login-form-header
{
     margin-left:30%;
}
.second-section
{
     display: flex;
     justify-items: center;
     justify-content: space-between;
     margin-top: 5px;
}
.link1
{
     text-decoration: underline;
     color:red;
}
.link1:hover
{
     color:green;
}
.link1:visited
{
     color:orange;
}
.link2
{
     color:rgb(211, 7, 92);
}
.link2:hover{
     color:aqua;
}
.link2:visited
{
     color:chocolate;
}
.password::placeholder,.email::placeholder
{
     font-family:'Courier New', Courier, monospace;
     font-weight: 400;
     font-size: 1rem;
}
.password,.email
{
     font-family: 'Courier New', Courier, monospace;
}
.button-submit
{
     padding: 8px 15px;
     border:none;
     border-radius: 20px;
     margin-left: 65%;
     margin-top: 4%;
     background-color: gray;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
.button-submit:hover
{
     opacity:0.8;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
.button-submit:active
{
     opacity:0.5;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
