
@keyframes head-section-show
{
     0%
     {
          /* background-color: rgb(255, 94, 0); */
          opacity:1;
     }    
     25%
     {
          opacity:0.9;
          /* background-color: rgb(255, 145, 0); */
     }
     50%
     {
          opacity:0.8;
          /* background-color:rgb(255, 255, 0); */
     }
     75%
     {
          opacity:0.9;
          /* background-color: rgb(211, 7, 92); */
     }
     100%
     {
          opacity:1;
          /* background-color: rgb(209, 5, 192); */
     }
} 

@keyframes blink-form {
     0%
     {
          box-shadow: 0px 0px 6px rgb(0, 0, 0);
     }
     25%
     {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.623);
     }
     50%
     {
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.438);
     }
     75%
     {
          box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.151);
     }
     100%
     {
          box-shadow: 0px 0px 6px rgb(0, 0, 0);
     }
}
.head-section
{
     display:flex;
     position:fixed;
     z-index:2;
     top:0;
     left:0;
     background-color: gray;
     right:0;
      max-height:15%;
      animation:head-section-show 2s 0s infinite linear;
     align-items: center;

}
.left-section
{
     width:25%;
     display: flex;
     flex-direction: column;
     justify-content:space-evenly;
}
.middle-section
{
     flex:1;
     font-size: 15px;
     font-family:'Times New Roman', Times, serif;
     vertical-align: middle;
}
.mid-section-head-title
{
     padding-top:14px;
}
.mid-section-head-loc
{
     margin: 0 auto;
     padding-left: 35%;
}
.right-section
{
     width:25%;
     margin-left: 1%;
     display: flex;
     align-items:center;
     justify-content:end;
}
.user-photo
{
     background:transparent;
     width:40px;
     height:40px;
     border-radius: 20px;
     border:none;
     margin-left: 30%;
}
.User-name
{
     display: inline-block;
     border-radius: 20px;
     border:1px solid black;
     padding:8px 20px;
     margin-right: 5%;
}
.login-user-detail
{
     position:absolute;
     top:45%;
     left:40%;
     height:170px;
     padding:10px 20px;
     line-height: 30px;
     align-items: center;
     animation:blink-form 2s 0s infinite linear;
     border-radius: 20px;
}
.login-form-header
{
     margin-left:30%;
}
.second-section
{
     display: flex;
     justify-items: center;
     justify-content: space-between;
     margin-top: 5px;
}
.link1
{
     text-decoration: underline;
     color:red;
}
.link1:hover
{
     color:green;
}
.link1:visited
{
     color:orange;
}
.link2
{
     color:rgb(211, 7, 92);
}
.link2:hover{
     color:aqua;
}
.link2:visited
{
     color:chocolate;
}
.password::placeholder,.email::placeholder
{
     font-family:'Courier New', Courier, monospace;
     font-weight: 400;
     font-size: 1rem;
}
.password,.email
{
     font-family: 'Courier New', Courier, monospace;
}
.button-submit
{
     padding: 8px 15px;
     border:none;
     border-radius: 20px;
     margin-left: 65%;
     margin-top: 4%;
     background-color: gray;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
.button-submit:hover
{
     opacity:0.8;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
.button-submit:active
{
     opacity:0.5;
     transition: ease-in-out;
     transition-duration: 250ms;
     transition-delay: 0s;
}
